.tg  {border-collapse:collapse;border-spacing:0;border-color:#999;}
.tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:#999;color:#444;background-color:#F7FDFA;}
.tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:#999;color:#fff;background-color:#26ADE4;}
.tg .tg-5ja6{font-size:14px;font-family:"Times New Roman", Times, serif !important;;background-color:#26ade4;color:#f7fdfa;border-color:#330001;text-align:center;vertical-align:top}
.tg .tg-uzej{font-size:14px;font-family:"Times New Roman", Times, serif !important;;color:#000000;border-color:#000000;text-align:center}
.tg .tg-hfyk{font-size:14px;font-family:"Times New Roman", Times, serif !important;;color:#000000;border-color:#000000;text-align:center;vertical-align:top}
.tg .tg-92z4{font-size:14px;font-family:"Times New Roman", Times, serif !important;;background-color:#ffffff;color:#f7fdfa;border-color:#ffffff;text-align:left}
.tg .tg-2xdo{font-weight:bold;font-size:14px;font-family:"Times New Roman", Times, serif !important;;color:#000000;border-color:#330001;text-align:center;vertical-align:top}
.tg .tg-oynj{font-size:14px;font-family:"Times New Roman", Times, serif !important;;border-color:#ffffff;text-align:left}
.tg .tg-scip{font-size:14px;font-family:"Times New Roman", Times, serif !important;;border-color:#ffffff;text-align:center}
.tg .tg-1rja{font-weight:bold;font-size:14px;font-family:"Times New Roman", Times, serif !important;;background-color:#26ade4;color:#f7fdfa;border-color:#330001;text-align:center}
.tg .tg-mpo3{font-weight:bold;font-size:14px;font-family:"Times New Roman", Times, serif !important;;background-color:#26ade4;color:#f7fdfa;border-color:#330001;text-align:center;vertical-align:top}
.tg .tg-l5md{font-weight:bold;font-size:14px;font-family:"Times New Roman", Times, serif !important;;color:#000000;border-color:#330001;text-align:center}
.tg .tg-npf9{font-size:14px;font-family:"Times New Roman", Times, serif !important;;color:#000000;border-color:#330001;text-align:center;vertical-align:top}
.tg .tg-bdxv{font-size:14px;font-family:"Times New Roman", Times, serif !important;;color:#000000;border-color:#000000;text-align:left}

.form-group {
    position: relative;
    margin-bottom: 1.5rem;
  }
  
  .form-control-placeholder {
    position: absolute;
    top: 0;
    padding: 9px 0 0 0;
    transition: all 300ms;
    opacity: 1;
  }
  
  .form-control:focus + .form-control-placeholder,
  .form-control:valid + .form-control-placeholder {
    font-size: 90%;
    transform: translate3d(-120%, -110%, 0);
    opacity: 3;
  }
  